
.todo-div {
  margin-left: 25px;
}

.todo-list {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

.todo-list li {
  background-color: #8891ef;
  margin-bottom: 5px;
  margin: 0 25px 5px 0;
  padding: 5px;
  border-radius: 3px;
}

.todo-list li button {
  margin-left: 5px;
}

.delete-button {
  float: right;
  color: red;
}

.todo-checkbox {
  margin-right: 5px;
}

.todo-list-input {
  width: 40%;
  font-size: 14px;
  border-radius: 5px;
}

#todo-progress-1, #todo-progress-2 {
  height: 5px;
  width: 90%;
  margin: auto;
  background-color: black;
}

#todo-progress-1 div, #todo-progress-2 div {
  height: 5px;
  background-color: white;
}

#todo-progress-1 div {
  width: 100%;
}
#todo-progress-2 div {
  float: right;
  width: 0%;
}
